#Author: Mike Jacobi
#this is the configuration file for mafia
#these variables must take the form: var=value (no whitespace)


#1 for debug mode; 0 for normal play mode
test=1

#duration (in seconds) for the corresponding phase of the game
timeTillStart=61
wolfTalkTime=120
wolfVoteTime=60
townTalkTime=240
townVoteTime=60
witchVoteTime=60
deathSpeechTime=60

#number of witch poisons
kill=1
#number of witch health potions
heal=1

#number of wolves
numWolves=2

#manually choose players to be wolves
wolfChoose=1

#allow death speechs.  1: players will give a speech upon dying; 0: will not give speech
deathSpeech=0

#randomize names of players.  This option is good to enable if you are playing multiple games with everybody in the same room.  It will prevent the trivial attack of memorizing game names and simply listening for that player to type.
randomizeNames=0

#pipe read vulnerability
#this variable determines the method in which the server reads from pipes
#the first method has the server issuing a 'cat' of each player's pipe,
#    such that it spawns a new process (and can be viewed with a ps aux)
#the second method has the server issuing an 'open' of each player's pipe,
#    such that it does not spawn a new process.
#values: 1 - 'cat' method; 0 - 'open' method
readVulnerability=0

#methods to create the moderator log file
#1 for diatomic creation (vulnerable to opening the filehandle and leaking info)
#2 for 'cp'ing a correctly chmodded file as a new moderator log file

#moderator log vulnerability
#each game creates a new moderator log.  the vulnerable method to create this log is to issue a 'touch' and a 'chmod' in two steps.  a secure way to do this is to 'cp' an empty file with correct permissions.
#values: 1 - diatomic method; 0 - atomic method
moderatorLogMode=0

#imposter vulnerability
#players can pose as other players in group chat with this vulnerability on
#1 - players can pose as other players
#0 - players are unable to pose as other players
imposterMode=0

#wolf voting variables:
#wolves must vote unanimously to eat someone
wolfUnanimous=1
#wolves are not informed of who their teammates voted for
wolfSilentVote=1

#town voting variables
townUnanimous=0
townSilentVote=0

